body {
    margin: 0.5em;
    padding: 1em;
    font-family: "Helvetica Neue",Helvetica, Arial,"Segoe UI",sans-serif;
    font-size: 95%;
    font-weight: 300;
    line-height: 1.4;
    color: #444;
    background-color: #FFF;
	}


a:link, a:visited {
    color: #697FB1;
    text-decoration: none;
    background: transparent none repeat scroll 0% 0%;
    font-weight: 400;
	}



#search {
    float: right;
    margin: 2px;
    text-align: right;
    font-size: 90%;
	}
#search form {
    margin: 0px 0px 2px;
	}
.topRight {
    background-color: #FFF;
    color: #666;
    font-weight: normal;
    padding: 1px;
    width: 22em;
	}
#searchField {
    border: 1px solid #999;
	}



#topLeft {
    background-color: #FFF;
	}
#sitelinks {
    margin-top: 0.5em;
	}

.directory {
    background-color: #FFF;
    padding: 0em;
    width: 48%;
	}

h1 {
    color: #005A9C;
    background-color: #FFF;
    padding: 1em 0.1em 0.5em;
    margin-bottom: 0px;
    border: medium none;
    font-family: "Helvetica Neue",Helvetica, Arial,"Segoe UI",sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    margin-top: 1em;
	}
h2 {
    font-family: Helvetica, Arial,sans-serif;
    font-size: 140%;
    font-weight: normal;
    color: #FFF;
    border: medium none;
    margin-top: 1.5em;
    padding: 0.1em 0.4em;
    background-color: #697FB1;
    border-radius: 10px;
	}
h2 a:link, h2 a:visited {
	color: white;
	}

.directory h2 {
    background-color: #EEB058;
	}

.panel {
	min-width: 300px;
	margin: 0 1em 0 0;
	float: left;
	width: 48%;
	}

hr {
	clear: both;
	}

code {
    font-size: 1em;
    font-family: "Courier New",Courier,monospace;
	}


	