@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/llkjgtdh_ezss6d93SGAFwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/Tc9Dk7UP-O5wKOy5yWA_gPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(http://fonts.gstatic.com/s/roboto/v15/iE8HhaRzdhPxC93dOdA055Bw1xU1rKptJj_0jans920.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v15/cEIiwZ_H1bWeDpxO1CDN0OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
}




body {
    margin: 0.5em;
    padding: 1em;
    font-family: "Helvetica Neue",Roboto,"Calibri","Segoe UI",sans-serif;
    font-size: 95%;
    font-weight: 300;
    line-height: 1.4;
    color: #444;
    background-color: #FFF;
	}


a:link, a:visited {
    color: #697FB1;
    text-decoration: none;
    background: transparent none repeat scroll 0% 0%;
    font-weight: 400;
	}





#search {
    float: right;
    margin: 2px;
    text-align: right;
    font-size: 90%;
	}
#search form {
    margin: 0px 0px 2px;
	}
.topRight {
    background-color: #FFF;
    color: #666;
    font-weight: normal;
    padding: 1px;
    width: 22em;
	}
#searchField {
    border: 1px solid #999;
	}



#topLeft {
    background-color: #FFF;
	}
#sitelinks {
    margin-top: 0.5em;
	}

.directory {
    background-color: #FFF;
    padding: 0em;
    width: 48%;
	}

h1 {
    color: #005A9C;
    background-color: #FFF;
    padding: 1em 0.1em 0.5em;
    margin-bottom: 0px;
    border: medium none;
    font-family: "Helvetica Neue",Roboto,"Calibri","Segoe UI",sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    margin-top: 1em;
	}
h2 {
    font-family: Arial,helvetica,sans-serif;
    font-size: 140%;
    font-weight: normal;
    color: #FFF;
    border: medium none;
    margin-top: 1.5em;
    padding: 0.1em 0.4em;
    background-color: #697FB1;
    border-radius: 10px;
	}
h2 a:link, h2 a:visited {
	color: white;
	}

.directory h2 {
    background-color: #EEB058;
	}

.panel {
	min-width: 300px;
	margin: 0 1em 0 0;
	float: left;
	width: 48%;
	}

hr {
	clear: both;
	}

code {
    font-size: 1em;
    font-family: "Courier New",Courier,monospace;
	}


	