<!DOCTYPE html>
<html  lang="en" >
<head>
<meta charset="utf-8">
<title>short_unique_title</title>
<link rel="author" title="authorname" href="mailto:email_address">
<style>
.test, .ref {
}

/* the CSS below is not part of the test */
.test, .ref {
margin: 20px;
font-size: 2em;
}
</style>
</head>
<body>

<div id="assertion"><b class="assertion">Assertion:</b> terse_statement_expected_behaviour_you_are_expecting.</div>
<div id="instructions">
any_instructions_here<br/>
<b class="instructions">Test passes if</b> conditions_under_which_the_test_passes.</div>
<div class="test" id="test">test_goes_here</div>
<div class="ref" id="ref">any_reference_comparisons_here</div>


</body>
</html>